// Global variables

// Colors

$gray-blue: #9ebabd;
$blue: #d6edf3;
$light-blue: #eff9fb;

//
// Base font styles for headings and links.

// Breakpoints for include media mixin
$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 980px,
  'widescreen': 1200px
);
